:root {
    --theme-color: powderblue;
    --theme-color2: #444;
    --theme-color3: #1f3b51;
}

/* stripping */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

.p2,.p4, .p6, .p8, .p10{
    font-size: 0.8rem;
    display: block;
}

.p1, .p3, .p5, .p7, .p9 {
    font-size: 1.25rem;
    border: 2px solid var(--theme-color);
    background: var(--theme-color);
    padding: 5px;
    top: 70px;
    line-height: 1.5;
}

/* header styles */
header {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--theme-color2);
    position: relative;
}

header a {
    text-decoration: none;
    color: var(--theme-color2);
}

.jumbo {
    background: url(/assets/images/background.jpeg);
    background-position: center;
    background-attachment: fixed;
    height: 30vh;
}

/* portrait */
img {
    position: absolute;
    top: 100%;
    left: 10%;
    border: 5px solid var(--theme-color);
    max-height: 30vh;
    max-width: 23vh;
    
}

header h1 {
    font-weight: normal;
    font-size: 55px;
    border: 1px solid var(--theme-color);
    background-color: var(--theme-color);
    padding: 0 10px 0 75px;
    margin: 5px 0 10px;
    color: var(--theme-color2);
}

header nav {
    background-color: var(--theme-color2);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    float: right;
    margin-right: 5%;
    height: 10vh;
} 

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    border-bottom: 4px solid var(--theme-color);
    color: var(--theme-color);
    text-decoration: none;
    margin: 0 20px;
    font-size: 1rem;
}

header p {
    font-weight: normal;
    font-size: 45px;
    padding: 10px;
    border: 1px solid var(--theme-color);
    background-color: var(--theme-color);
    color: var(--theme-color2);
    position: absolute;
    bottom: -235%;
    left: 70%;
}



/* about me styles */
.about, .work, .contact{
    display: flex;
    margin: 25px;
    align-items: flex-start;
}

h2 {
    color: var(--theme-color3);
    font-size: 50px;
    margin-right: 2rem;
    width: 25rem;
    padding: 10px 15px 0 85px;
    text-align: right;
}
.par, .projects, .contact-list {
    margin-left: auto;
    padding-left: 3%;
    border-left: 3px solid var(--theme-color3);
    width: 100%
}

.par p{
    color: var(--theme-color3);
    line-height: 1.5;
    font-size: 1rem;
    margin-bottom: 20px;
    width: 95%;
}



/* projects */
.projects ul li {
    list-style: none;
    margin: 0;
    position: relative;

}

.projects ul li a {
    color: var(--theme-color3);
    text-decoration: none;
    font-size: 1.25vw;
    display: inline-block;
    background-size: cover;
    border: 5px solid var(--theme-color);
}

.half-display {
    height: 25vh;
    width: 98%;
    margin-bottom: 2%;
}

.row {
    display: flex;
    max-width: 96%;
}

.column {
    flex: 45%;
}

.coworkers {
    background-image:    linear-gradient(
        rgba(19, 73, 80, 0.7), 
        rgba(19, 73, 80, 0.7)),
        url('/assets/images/coworker.png');
    width: 95%;
    height: 75vh;
    background-position: center;
    position: relative;
    margin-bottom: 1%;
}

.coworkers:hover {
    background-image: url('/assets/images/coworker1.png');
}

.projects p {
    z-index: 100;
    position: absolute;
}

.p1 {
    top: 390px;
}

.tech {
    display: flex;
}

.crunch-time {
    background-image: 
    linear-gradient(
        rgba(19, 73, 80, 0.7), 
        rgba(19, 73, 80, 0.7)),
        url('/assets/images/crunch.png');
}

.crunch-time:hover {
    background-image: url('/assets/images/crunch.png');
}

.readme-builder {
    background-image: 
    linear-gradient(
        rgba(19, 73, 80, 0.7), 
        rgba(19, 73, 80, 0.7)),
        url('/assets/images/readme-builder.png');
}

.readme-builder:hover {
    background-image: url('/assets/images/readme-builder.png');
}

.run-buddy {
    background-image: 
    linear-gradient(
        rgba(19, 73, 80, 0.7), 
        rgba(19, 73, 80, 0.7)),
        url('/assets/images/run-buddy.png');
}

.run-buddy:hover {
    background-image: url('/assets/images/run-buddy.png');
}

.horiseon {
    background-image: 
    linear-gradient(
        rgba(19, 73, 80, 0.7), 
        rgba(19, 73, 80, 0.7)),
        url('/assets/images/horiseon.png');
}

.horiseon:hover {
    background-image: url('/assets/images/horiseon.png');
}

.workday {
    background-image: 
    linear-gradient(
        rgba(19, 73, 80, 0.7), 
        rgba(19, 73, 80, 0.7)),
        url('/assets/images/work-planner.png');
}

.workday:hover {
    background-image: url('/assets/images/work-planner.png');
}

.password {
    background-image: 
    linear-gradient(
        rgba(19, 73, 80, 0.7), 
        rgba(19, 73, 80, 0.7)),
        url('/assets/images/password.png');
}

.password:hover {
    background-image: url('/assets/images/password.png');
}


/* contact styles */
.contact {
    color: var(--theme-color3);
    font-size: 30px;
    font-weight: lighter;
}

.contact ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contact ul li {
    list-style: none;
    margin: 10px 30px 0 0;
}

.contact ul li a {
    border-bottom: 4px solid var(--theme-color3);
    color: var(--theme-color3);
    text-decoration: none;
    font-size: 1rem;
} 


/* MEDIA QUERIES */
@media screen and (max-width: 1104px) {
    header p {
        bottom: -180px;
        left: 70%;
    }
}

@media screen and (max-width: 803px) {
    img {
        height: 218px;
        width: 160px;
    }

    header p {
        position: absolute;
    }

    .p1, .p3, .p5, .p7, .p9 {
        top: 0%;
    }
}


/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    header p {
        bottom: -160px;
        left: 60%;
    }

    .p1, .p3, .p5, .p7, .p9 {
        top: 0%;
    }

    .row {
        flex-direction: column;
    }

    .contact h2 {
        margin: 0 auto;
    }
}


/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    h1 {
        width: 100%;
        padding: 0 75px;
    }

    .about, .work, .contact {
        flex-direction: column;
    }

    h2 {
        text-align: center;
        padding: 0;
        margin-bottom: 10px;
    }

    header {
        display: flex;
        justify-content: center;
    }

    header p {
        left: 45%;
    }
}