
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    font-family: Helvetica, Arial, sans-serif;
}

/* header styles */
header {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #444;
    position: relative;
}

header a {
    text-decoration: none;
    color: #444;
}

.jumbo {
    background: url(./images/background.jpeg);
    background-position: center;
    background-attachment: fixed;
    height: 30vh;
}

header h1 {
    font-weight: normal;
    font-size: 55px;
    border: 1px solid powderblue;
    background-color: powderblue;
    padding-left: 75px;
    margin: 5px 0 10px;
    color: #444;
}

header nav {
    background-color: #444;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    float: right;
    margin-right: 50px;
    height: 10vh;
} 

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    border-bottom: 4px solid powderblue;
    color: powderblue;
    text-decoration: none;
    margin: 0 20px;
    font-size: 1.25vw;
}

header p {
    font-weight: normal;
    font-size: 45px;
    padding: 10px;
    border: 1px solid powderblue;
    background-color: powderblue;
    color: #444;
    display: flex;
    position: absolute;
    bottom: -270%;
    left: 70%;
}



/* about me styles */
.about {
    display: flex;
    margin: 25px;
    justify-content: center;
}

.about h2 {
    flex: 1;
    color: #1f3b51;
    font-size: 50px;
    border-right: 3px solid #1f3b51;
    height: 260px;
    width: 20%;
    padding: 10px 15px 0 85px;
    margin-left: 60px;
    text-align: right;
}

.par p{
    color: #1f3b51;
    line-height: 1.5;
    margin-bottom: 20px;
    font-size: 20px;
    width: 90%;
    padding-left: 35px;
}

/* work styles */
.work {
    color: #1f3b51;
    font-size: 30px;
    font-weight: normal;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

/* work styles */
.work h2 {
    width: 20%;
    border-right: 3px solid #1f3b51;
    height: 150px;
    padding: 10px 15px 0 100px;
    text-align: right;
    flex: 1;
}

.work nav {
    width: 80%;
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.work nav ul {
    display: flex;
    flex-wrap: wrap;
}

.work nav ul li {
    list-style: none;
    margin: 0 10px;
}

.work nav ul li a {
    border-bottom: 4px solid #1f3b51;
    color: #1f3b51;
    text-decoration: none;
    font-size: 1.25vw;
}

.work nav ul li a:hover {
    border: 5px solid #1f3b51;
    position: relative; 
    top:-25px; 
    left:-35px; 
    width:600px; 
    height:500px; 
    display:block; 
    z-index:999;
    color: #1f3b51;
    text-shadow: none;
}

/* projects */
.run-buddy {
    background-image: url(./images/run-buddy.png);
    height: 40vh;
    background-color: linear-gradient(to top right,
    rgba(176, 224, 230, 0.5));
    background-size: cover;
}

.horiseon {
    background-image: url(./images/horiseon.png);
    background-size: cover;
}

.calculator {
    background-image: url(./images/calculator.jpeg);
    background-size: cover;
}

.led {
    background-image: url(./images/LED\ Wall.png);
    background-size: cover;
}

.pastel {
    background-image: url(./images/pastel.jpeg);
    background-size: cover;
}



/* contact styles */
.contact {
    color: #1f3b51;
    font-size: 30px;
    font-weight: lighter;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.contact h2 {
    width: 20%;
    border-right: 3px solid #1f3b51;
    height: 150px;
    padding: 10px 15px 0 100px;
    text-align: right;
    flex: 1;
}

.contact nav {
    width: 80%;
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.contact nav ul {
    display: flex;
    flex-wrap: wrap;
}

.contact nav ul li {
    list-style: none;
    margin: 0 30px;
}

.contact nav ul li a {
    border-bottom: 4px solid #1f3b51;
    color: #1f3b51;
    text-decoration: none;
    font-size: 1.25vw;
}

/* MEDIA QUERYx */
@media screen and (max-width: 1020px) {
    h2 {
        padding-bottom: 0;
        text-align: left;
        margin: 0px;
    }
}